In [ ]:
#Get all keywords in python 3.

import keyword

print(keyword.kwlist)

print(len(keyword.kwlist))

In [ ]:
#Correct use of keywords
#Keywords are shown by the dark green color

import math

from math import gcd

for i in range(1, 13):
    if i == 2:
        print('holla')
    elif i== 4:
        print('word in the street')
    else:
        break

logger=[1,2,3]
del logger[2]

In [ ]:
#Incorrect use of keywords

None = 'sole'

True = 50

and = 'musa'

finally = 8

while = 'user'

In [ ]:
#Insert 6 in to the list

s= {1,2,3,4,5}
s.add(6)

In [ ]:
s

In [ ]:
#get 'Temi'

n={'N1':{'firstname':['Tity','Kola','Temi', 'Gbenga']}}

n['N1']['firstname'][2]

In [ ]:
#Write a program that prints 'access granted' if password is 'fish' and 'access denied' if it is not

In [ ]:
password = 'holla'

if password == 'fish':
    print('access granted')
else:
    print('access denied')

# crash course

In [3]:
8%2

0

In [4]:
x = 4
y = 2

In [5]:
x+y

6

In [2]:
num = 12
name = 'Lawal'

print('my number is {} and my name is {}'.format(num, name))

my number is 12 and my name is Lawal

In [4]:

print('My number is {one}, my friends number is {tu}, what is the sum of our number{tu}'.format(one=num, tu=num))

My number is 12, my friends number is 12, what is the sum of our number12

In [20]:
s = 'abcefghijk'

In [21]:
s[3:7]

'efgh'

In [23]:
my_list =[1,'a','b']

In [24]:
my_list[2]

'b'

In [25]:
nest =[1,2,3,4,[4,5,['taget']]]

In [32]:
nest[4][2][1]

IndexError: list index out of range

# crash course

In [39]:
dict ={'key':'value','key1':'sorry','k3':[1,2,3]}

In [43]:
dict['key']; dict['k3'][0]

1

In [46]:
d = {'k':{'inner':[1,2,3,]}}
d['k']['inner']

[1, 2, 3]

In [47]:
y = {1,2,3,4,5,2,2,3,4}

In [49]:
y.add(6)

In [50]:
y

{1, 2, 3, 4, 5, 6}

In [54]:
1==2

False

In [56]:
'h1'=='bye'

False

In [57]:
1<2 and 2>1

True

In [58]:
if 1<2:
    print('yep')

yep

In [60]:
if 1==2:
    print('one')
elif 3 ==3:
    print('three')
else:
    print('two')

three

## crash course 3

In [64]:
seq = [1,2,3,4]

for num in seq:
    print('hello')

hello
hello
hello
hello

In [63]:
i = 1

while i < 5:
    print('i is: ', i)
    i= i+1

i is:  1
i is:  2
i is:  3
i is:  4

In [ ]:
for x in range(0, 5):
    print(x)

In [ ]:
list(range(10))

In [ ]:
y = list(range(5))

In [ ]:
out = []

for num in y:
    out.append(num**2)
print(out)

In [ ]:
out = [num**2 for num in y]
out

In [ ]:
def myfunc(param1):
    print('Hello '+param1)

In [ ]:
myfunc('hello')

In [65]:
def square(num):
    return num**2

In [66]:
output = square(3)

In [ ]:
square

# crash course 4

In [1]:
def times2(var):
    return var*2

In [2]:
def times2(var):return var*2

In [3]:
times2(10)

20

In [5]:
#map

seq = [1,2,3,4,5,6]

In [ ]:
list(map(times2, seq))

In [ ]:
list(map(lambda var: var ** 2, seq))

In [ ]:
list(filter(lambda num: num%2 == 0, seq))

In [ ]:
s = 'hello my name is lawal'

In [ ]:
s.split('n')

In [ ]:
lst = [1,2,3,4,]

item = lst.pop()

In [ ]:
item

In [ ]:
lst

In [ ]:
'x' in [1,2,3]

In [ ]:
x = [(1,2),(3,4)]
for a,b in x:
    print(a)

In [7]:
tweet = 'go sports #sports'

In [9]:
tweet.split('#')[0]

'go sports '

# Python crash course exercises

In [10]:
# what is 7 to the power of 4
7**4

2401

In [11]:
#split this string s= 'Hi there Sam!' into a list

s = "Hi there Sam!"
s.split()

['Hi', 'there', 'Sam!']

In [30]:
# with the variable planet and diameter print
planet = 'Earth'
diameter = 12742

print('The diameter of {} is {} kilometers'.format(planet, diameter))

The diameter of Earth is 12742 kilometers

In [36]:
# grab the word hello

lst =[1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

lst[3][1][2]

['hello']

In [23]:
#grab hello from this dictionary
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [24]:
# what is the difference btw a tuple and a list

In [37]:
#create a function tha grabs the email website domain from a string in the form user@domain.com.... and return domain.com

def domainGet(email):
    if 'domain.com' in email:
        return 'domain.com'

domainGet('user@domain.com')

'domain.com'

In [25]:
# function that returns true if word dog is contained

def findDog(var):
    if 'dog' in var:
        return True

findDog('is there a dog here')

True

In [ ]:
# function that counts the number of times dog appears

def countDog(var):

In [27]:
#use lambda and filter to filter words that dont start with s

seq= ['soup','salad','dog','cat','great']
list(filter(lambda var:'s'in var, seq))

['soup', 'salad']

# xtras

In [38]:
name = 'hoe'
age = 22
print('%s is %d years old.' % (name, age))

hoe is 22 years old.

In [39]:
print(name.startswith('h'))

True